.form
  %p

  .form-group
    = select(@profile, "city_code", @cities.map { |city| [ [city["UniqName"], city["Region"], "Область"].join(" "), city["Code"] ] }, { include_blank: true}, id: "city_code", class: 'form-control',)
  .form-group
    .response
      %span
      %span#result
      %span
      %span#boxberryPointCode
      #down
