.container
  %h2 Заполните данные для таможенного оформления посылки
  %p  Внимательно проверьте все данные перед сохранением!
  = render 'form', profile: @profile
  = link_to '< назад', profile_dashboard_index_path, class: 'btn btn-success'
