.container
  %h1 Users#show
  %p Find me in app/views/users/show.html.haml
  %p= @user.inspect
  %p
    = render "shared/whatsapp", profile: @user
  %p= @user.packages.inspect
  %p= @user.deals.inspect
