%p Мы покупаем вам вещь и отправляем ее вам почтой.
%p Магазин, в котором мы купили вещь предоставляет гарантию на вещь, а транспортная компания страхует груз на время перевозки и доставляет вешь посылкой вам.
%p Мы отвечаем за выкуп ывещи и отправку ее транспортной компанией. 
