%p Оплата производится на карту Тинькофф. Если у вас нет карты, то можно сделать перевод по номеру карты практически в любом банкомате.
%p Отправка почтой в ваш город на ваш адрес. Доставка оплачивается отдельно, тарифы очень адекватные, до Москвы от $12, Екб около €14,5. Зависит от веса посылки.
%p Можно отправлять не сразу, а чуть позже и вы ещё дошопите, так сказать, чтобы одним боксом к вам все уехало. Но это по вашему желанию.
