.section.shipping
  .section-header
    %h4 Доставка товара
  .section-body
    %p Доставка товара осуществляется компанией Boxberry или другой службой по согласованию с заказчиком.
    %p Перевозчик несет ответственность за сохранность посылки с момента передачи посылки перевозчику. Клиент несет отстветственость за своевременное получение поылки. Срок хранения посылки в пункте выдачи - не более 7 дней. Если по какой-либо причине у заказчика возникли вопросы, касаемые его посылки - он немедленно обращается за ра зъяснениями к перевозчику.
    %p В случае обнаружения повреждения коробки или упаковки посылки - заказчик должен незамедлительно обратить ся к перевозчику и зафиксировать все повреждения.
    %p В случае, если заказчик не забрал посылку из пункта выдачи в течении срока хранения и посылка была отправлена исполнителю - исполнитель освобождается от любой ответственности перед заказчиком, связанной с этой посылкой.
    %p
      Удобный вам пункт выдачи можно посмотреть здесь:
      %span
        = link_to 'пункты выдачи', "https://boxberry.ru/find_an_office/"
  .section-body
    %h4 Стоимость доставки расчитывается исходя из веcа посылки и региона доставки.
    %h4 Шаг 1.
    %p Для того, чтобы узнать стоимость доставки определите зону, куда вы хотите доставить посылку.

%img{src:"/img/italy-russia.jpg", class: 'img-responsive img-fluid'}
.section.shipping
  .section-body
    %h4 Шаг 2.
    %p Найдите в таблице вашу зону. Узнайте стоимость доставки в зависимости от веса посылки и способа доставки.
%img{src:"/img/italy-russia-zones.jpg", class: 'img-responsive img-fluid'}
