.section-header
  %h4 Доставка товара
.section-body
  %p Доставка товара осуществляется компанией Boxberry.
  %p
    Удобный вам пункт выдачи можно посмотреть здесь:
    %span
      = link_to 'пункты выдачи', "https://boxberry.ru/find_an_office/"
.section-body
  %h4 Стоимость доставки расчитывается исходя из веcа посылки и региона доставки.
  %h4 Шаг 1.
  %p Для того, чтобы узнать стоимость доставки определите зону, куда вы хотите доставить посылку.
.container-fluid
  %img{src:"/img/italy-russia.jpg", class: 'img-responsive'}
.section-body
  %h4 Шаг 2.
  %p Найдите в таблице вашу зону. Узнайте стоимость доставки в зависимости от веса посылки и способа доставки.
.container-fluid
  %img{src:"/img/italy-russia-zones.jpg", class: 'img-responsive'}
