$(document).on('turbolinks:load', function() {
  $( 'select#city_code' ).select2({
    placeholder: 'Выберите город',
    allowClear: true
  })
  $( '#city_code' ).change(function() {
    var input = $( "#city_code option:selected" ).val();
    $('#down').html('');
    $('#boxberryPointCode').html('');
    $.ajax({
      type: "GET",
      url: "http://shop.ekaterinaivanova.com/api/points",
      data: {
        city_code: input,
      },
      dataType: 'json',
      success: function(result) {
        var city_points = '';
        var $select = $('#down');
        $.each(result.points, function(key, point){
          city_points += '<option value=' + point['Code'] + '>' + point['Address'] + '</option>';
        });
        $('<select class="custom-select">' + city_points + '</select>').appendTo('#down').select2({
          placheholder: 'Выберите пункт выдачи',
          allowClear: true,
        });
        var boxberry_point = $( "#down option:selected" ).val();
        $('#boxberryPoint').val(boxberry_point);
        $('#boxberryPointCode').html(boxberry_point);
      }

    });

    $('#result').text(input);
    $('#CityCode').val(input);
    return $('select#city_code').select2({
      placeholder: 'Выберите город',
      allowClear: true
    });

  });
  $('#down').change(function(){
    var boxberry_point = $( "#down option:selected" ).val();
    $('#boxberryPoint').val(boxberry_point);
    $('#boxberryPointCode').html(boxberry_point);
    console.log(boxberry_point + ' Boxberry selected point.');
  })
})
