@import "bootstrap-sprockets"
@import "bootstrap"

.block
  padding-top: 48px

.card
  padding-left: 48px
  padding-right: 48px
  padding-top: 32px
  border: 0
  margin-bottom: 32px
  box-shadow: 0 3px 10px 0 rgba(2, 3, 1, .2)
  border-radius: .12rem
  p
    padding-top: 0px
  h2
    padding-bottom: 0px
