$section-text: #ccc
$section-text-p: #eee
$gray-8: #eee

.fullwidth
  width: 100%

.dark-theme
  color: #fbfbfd
  background-color: #403848

.section
  margin-top: 48px
  max-width: 720px
  margin-left: auto
  margin-right: auto
  padding-right: 32px
  padding-left: 32px
  padding-bottom: 32px


  .section-header
    max-width: 720px
    color: #229
    text-transform: uppercase

.eyebrow
  padding-bottom: 32px

.h1 h2 h3 h4 p
  color: $section-text-p

.img
  display: block
  border: 0


.w40
  width: 40%
.w60
  width: 60%
.item
  display: flex
  /* header */

#logo
  float: left
  margin-right: 10px
  font-size: 2.7em
  color: #aaa
  text-transform: uppercase
  font-weight: bold
  padding-left: 15px

#logo:hover
  color: #bbb
  text-decoration: none
  background: #fff

.footer
  padding-top: 60px
  background-color: $gray-8
.order
  background-color: $gray-8
  margin-bottom: 32px
  padding-left: 16px
  padding-top: 16px
.item-form
  background-color: $gray-8
  margin-bottom: 32px
  padding-left: 16px
  padding-right: 16px
  padding-top: 16px
  padding-bottom: 16px
