%ul.nav.nav-tabs.justify-content-end
  %li.nav-item
    = link_to 'клиенты', profile_clients_path, class: 'a nav-link'
  %li.nav-item
    = link_to 'лоты', profile_items_path, class: 'a nav-link'
  %li.nav-item
    = link_to 'сделки', profile_deals_path, class: 'a nav-link'
